.container
    h2 Gallery
    .gallery.thumbnails
        .row-fluid(ng-repeat="row in pictureRows")
            .span3.thumbnail(ng-repeat="pic in row")
                img(data-src="/js/lib/holder.js/300x200")
            .span12