footer
    .container.text-center
        p &copy; Copyright 2013 - Present, Wensheng Chen, All Rights Reserved.
        p This website is still under development.
        p Restaurant Name &bull; Times Square, New York, NY, 10018 &bull; Tel: 212-123-1234
        a(href='#terms') Terms & Conditions
        &nbsp;|&nbsp;
        a(href='#privacy') Privacy Policy
