block header
    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
            .container
                button.btn.btn-navbar.collapsed(type='button', data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/') Restaurant CMS
                .nav-collapse.collapse
                    ul.nav
                        li.divider-vertical
                        li
                            a(href='/home')
                                i.icon-home.icon-white
                                | Home
                        li.divider-vertical
                        li
                            a(href='/menu')
                                i.icon-list-alt.icon-white
                                | Menu
                        li.divider-vertical
                        li
                            a(href='/locations')
                                i.icon-globe.icon-white
                                | Locations
                        li.divider-vertical
                        li
                            a(href='/reviews')
                                i.icon-comment.icon-white
                                | Reviews
                        li.divider-vertical
                        li
                            a(href='/gallery')
                                i.icon-picture.icon-white
                                | Gallery
                        li.divider-vertical
                        li
                            a(href='/about')
                                i.icon-info-sign.icon-white
                                | About
                        li.divider-vertical
                    form.navbar-search.pull-right
                        input.search-query(type='text', placeholder='Search')
