extends layout

block content
    #myCarousel.carousel.slide
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')

        .carousel-inner
            .active.item
                a.thumbnail(href='#')
                    img(data-src='js/holder.js/2000x600', alt='')
                .container
                    .carousel-caption
                        h1 Image Headline
                        p.lead Caption message here
                        br
                        a.btn.btn-large.btn-primary(href='#') Press Button Now!
            .item
                a.thumbnail(href='#')
                    img(data-src='js/holder.js/1500x600', alt='')
            .item
                a.thumbnail(href='#')
                    img(data-src='js/holder.js/1000x600', alt='')

        a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;
        a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;

    h2 Node.js
    hr
    p Node.js is a server-side software system designed for writing scalable Internet applications, notably web servers.[1] Programs are written on the server side in JavaScript, using event-driven, asynchronous I/O to minimize overhead and maximize scalability.[2]
    h2 Details
    hr
    p Node.js is a packaged compilation of Google's V8 JavaScript engine, the libUV platform abstraction layer, and a core library, which is itself primarily written in JavaScript.
    p Node.js was created by Ryan Dahl starting in 2009, and its development and maintenance is sponsored by Joyent, his former employer.[3][4]
    p Dahl's original goal was to create web sites with push capabilities as seen in web applications like Gmail. After trying solutions in several other programming languages he chose JavaScript because of the lack of an existing I/O API. This allowed him to define a convention of non-blocking, event-driven I/O.[5]
    p Similar environments written in other programming languages include Tornado and Twisted for Python, Perl Object Environment for Perl, libevent for C, Vert.x for Java, Akka for Java and Scala, EventMachine for Ruby and vibe.d for D. Unlike most JavaScript programs, it is not executed in a web browser, but instead as a server-side JavaScript application. Node.js implements some CommonJS specifications.[6] It also provides a REPL environment for interactive testing.
    h2 Community
    hr
    p Node.js has a developer community primarily centered around two mailing lists, nodejs and nodejs-dev, and the IRC channel #node.js on freenode. The community gathers at NodeConf, an annual developer conference focused on Node.js.[7]
    p Node.js is currently used by a number of large companies including LinkedIn,[8][9] Microsoft,[10][11] Yahoo![12] and Walmart.[13]
