doctype 5
html(lang='en', ng-app='restaurantCms')
    head
        - if (typeof(title) !== 'undefined') {
            title=title
        - } else {
            title Welcome to Restaurant CMS
        - }
        meta(charset='utf-8')

        // Mobile Specific
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // JS
        block script
            script(src='/js/jquery.min.js')
            script(src='/js/angular.min.js')
            script(src='/js/angularjs/app.js')
            script(src='/js/angularjs/controllers.js')
            script(src='/js/angularjs/menu.js')
            script(src='/js/bootstrap.min.js')
            script(src='/js/holder.js')

        // CSS
        block stylesheet
            link(rel='stylesheet', href='/css/bootstrap.css')
            link(rel='stylesheet', href='/css/bootstrap-responsive.css')
            link(rel='stylesheet', href='/css/style.css')

    body
    #header
        block header
            include header.jade
    #content(ng-view)
        block content

    #footer
        block footer
            include footer.jade
