doctype 5
html(lang='en', ng-app='restaurantCms')
    head
        - if (typeof(title) !== 'undefined') {
            title=title
        - } else {
            title Welcome to Restaurant CMS
        - }
        meta(charset='utf-8')

        // Mobile Specific
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // CSS
        block stylesheet
            link(rel='stylesheet', href='/css/bootstrap.css')
            link(rel='stylesheet', href='/css/bootstrap-responsive.css')
            link(rel='stylesheet', href='/css/style.css')

        // JS
        block headscript
            script(src='/js/lib/holder.js')

    body
        #header
            block header
                include header.jade
        #content(ng-view)
            block content

        #footer
            block footer
                include footer.jade

        block footerscript
            script(src='/js/lib/jquery.min.js')
            script(src='/js/lib/angular.js')
            script(src='/js/lib/angular-resource.js')
            script(src='/js/lib/bootstrap.min.js')

            script(src='/js/angular/app.js')
            script(src='/js/angular/controllers.js')
            script(src='/js/angular/menu.js')
            script(src='/js/angular/services.js')

