@import-once "variables.less";
@import-once "header.less";
@import-once "footer.less";
@import-once "menu.less";

body {
  color: @textColor;
  background-color: @bodyBackground;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
//  margin-top: 41px;
}

a {
  color: @linkColor;

  :hover {
    color: @linkColorHover;
  }
}
