@import "variables.less";
@import "header.less";
@import "footer.less";

body {
  color: @textColor;
  background-color: @bodyBackground;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
}

a {
  color: @linkColor;

  :hover {
    color: @linkColorHover;
  }
}
